<ng-container>
    <h1>Recent Activities</h1>

    <h2>Run</h2>
    <p>Date: {{ data.mostRecent.runDate}}</p>
    <p>Time: {{ data.mostRecent.runTime}}</p>
    <p>Distance: {{ data.mostRecent.runDist}} miles</p>
    <h2>Gym</h2>
    <p>Date: {{ data.mostRecent.gymDate}}</p>
    <p>Duration: {{ data.mostRecent.gymTime}} minutes</p>
    <hr>

    <h1>Running Stats</h1>

    <h2>Miles Run</h2>
    <h3>All Time:</h3>
    <p>{{ data.runningStats.milesRun[3]}} miles</p>
    <h3>This Year:</h3>
    <p>{{ data.runningStats.milesRun[2]}} miles</p>
    <h3>This Month:</h3>
    <p>{{ data.runningStats.milesRun[1]}} miles</p>
    <h3>Past Week:</h3>
    <p>{{ data.runningStats.milesRun[0]}} miles</p>
    <hr>

    <h2>Average Distance</h2>
    <h3>All Time:</h3>
    <p>{{ data.runningStats.avgDist[3]}} miles</p>
    <h3>This Year:</h3>
    <p>{{ data.runningStats.avgDist[2]}} miles</p>
    <h3>This Month:</h3>
    <p>{{ data.runningStats.avgDist[1]}} miles</p>
    <h3>Past Week:</h3>
    <p>{{ data.runningStats.avgDist[0]}} miles</p>
    <hr>

    <h2>Average Pace</h2>
    <h3>All Time:</h3>
    <p>{{ data.runningStats.avgPace[3]}} min/mile</p>
    <h3>This Year:</h3>
    <p>{{ data.runningStats.avgPace[2]}} min/mile</p>
    <h3>This Month:</h3>
    <p>{{ data.runningStats.avgPace[1]}} min/mile</p>
    <h3>Past Week:</h3>
    <p>{{ data.runningStats.avgPace[0]}} min/mile</p>
    <hr>

    <h2>Longest Run</h2>
    <h3>All Time:</h3>
    <p>{{ data.runningStats.longestRun[3]}} miles</p>
    <h3>This Year:</h3>
    <p>{{ data.runningStats.longestRun[2]}} miles</p>
    <h3>This Month:</h3>
    <p>{{ data.runningStats.longestRun[1]}} miles</p>
    <h3>Past Week:</h3>
    <p>{{ data.runningStats.longestRun[0]}} miles</p>
    <hr>
    
    <h1>Gym Stats</h1>
    <h2>Number of Visits</h2>
    <h3>All Time:</h3>
    <p>{{ data.gymStats.numVisits[3]}}</p>
    <h3>This Year:</h3>
    <p>{{ data.gymStats.numVisits[2]}}</p>
    <h3>This Month:</h3>
    <p>{{ data.gymStats.numVisits[1]}}</p>
    <h3>Past Week:</h3>
    <p>{{ data.gymStats.numVisits[0]}}</p>
    <hr>

    <h2>Total Time</h2>
    <h3>All Time:</h3>
    <p>{{ data.gymStats.totalTime[3]}}</p>
    <h3>This Year:</h3>
    <p>{{ data.gymStats.totalTime[2]}}</p>
    <h3>This Month:</h3>
    <p>{{ data.gymStats.totalTime[1]}}</p>
    <h3>Past Week:</h3>
    <p>{{ data.gymStats.totalTime[0]}}</p>
    <hr>

    <h2>Average Time</h2>
    <h3>All Time:</h3>
    <p>{{ data.gymStats.avgTime[3]}}</p>
    <h3>This Year:</h3>
    <p>{{ data.gymStats.avgTime[2]}}</p>
    <h3>This Month:</h3>
    <p>{{ data.gymStats.avgTime[1]}}</p>
    <h3>Past Week:</h3>
    <p>{{ data.gymStats.avgTime[0]}}</p>
    <hr>
</ng-container>
