<div class="home">
    <div class="home__header">
        <div class="home__header__left">
            AFFORDABLE
        </div>
        <div class="home__header__center">
            PARTICIPATING ORGANIZATIONS
        </div>
        <div class="home__header__right">
            <div class="card__content__button">
                <p class="card__content__button__text">Apply Now</p>
            </div>
        </div>
    </div>
    <div class="home__content">
        <div class="home__content__left">
            <div class="home__content__left__big-text">
                ACCESSIBLE
            </div>
            <div class="home__content__left__big-text">
                EQUITABLE
            </div>
            <div class="home__content__left__big-text">
                AFFORDABLE
            </div>
        </div>

        <div class="home__content__right">
            <div class="home__content__right__text">
                AFFORDABLE's mission is to something
            </div>
            <div class="home__content__right__text">
                more should go here blah blah blah......
            </div>
        </div>
    </div>
    <div class="home__middle">
        <div class="home__middle__left">
            <input class="home__middle__left__top__search" type="text" placeholder="Enter search term here...">
            <div class="home__middle__left__top__search-button">
                S
            </div>
        </div>
        <div class="home__middle__right">
            <p>Some stats about how many orgs and how many grants and the $$$ available...</p>
        </div>
    </div>
    <div class ="centered">
        <div class="cards">

            <div class="card">
                <div class="card__content">

                    <div class="card__content__top">
                        <h1>Organization Name</h1>
                    </div>

                    <div class="card__content__middle">
                        <h2>Mission Statement</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At elementum eu facilisis sed. In massa tempor nec feugiat nisl pretium fusce. Sed euismod nisi porta lorem mollis aliquam ut porttitor leo...</p>
                    </div>

                    <div class="card__content__bottom">
                        <div class="card__content__button">
                            <p class="card__content__button__text">View Grants</p>
                        </div>
                        
                        <p class="card__content__bottom__right"></p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__content">

                    <div class="card__content__top">
                        <h1>Organization Name</h1>
                    </div>

                    <div class="card__content__middle">
                        <h2>Mission Statement</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At elementum eu facilisis sed. In massa tempor nec feugiat nisl pretium fusce. Sed euismod nisi porta lorem mollis aliquam ut porttitor leo...</p>
                    </div>

                    <div class="card__content__bottom">
                        <div class="card__content__button">
                            <p class="card__content__button__text">View Grants</p>
                        </div>
                        
                        <p class="card__content__bottom__right"></p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__content">

                    <div class="card__content__top">
                        <h1>Organization Name</h1>
                    </div>

                    <div class="card__content__middle">
                        <h2>Mission Statement</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At elementum eu facilisis sed. In massa tempor nec feugiat nisl pretium fusce. Sed euismod nisi porta lorem mollis aliquam ut porttitor leo...</p>
                    </div>

                    <div class="card__content__bottom">
                        <div class="card__content__button">
                            <p class="card__content__button__text">View Grants</p>
                        </div>
                        
                        <p class="card__content__bottom__right"></p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__content">

                    <div class="card__content__top">
                        <h1>Organization Name</h1>
                    </div>

                    <div class="card__content__middle">
                        <h2>Mission Statement</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At elementum eu facilisis sed. In massa tempor nec feugiat nisl pretium fusce. Sed euismod nisi porta lorem mollis aliquam ut porttitor leo...</p>
                    </div>

                    <div class="card__content__bottom">
                        <div class="card__content__button">
                            <p class="card__content__button__text">View Grants</p>
                        </div>
                        
                        <p class="card__content__bottom__right"></p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__content">

                    <div class="card__content__top">
                        <h1>Organization Name</h1>
                    </div>

                    <div class="card__content__middle">
                        <h2>Mission Statement</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At elementum eu facilisis sed. In massa tempor nec feugiat nisl pretium fusce. Sed euismod nisi porta lorem mollis aliquam ut porttitor leo...</p>
                    </div>

                    <div class="card__content__bottom">
                        <div class="card__content__button">
                            <p class="card__content__button__text">View Grants</p>
                        </div>
                        
                        <p class="card__content__bottom__right"></p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__content">

                    <div class="card__content__top">
                        <h1>Organization Name</h1>
                    </div>

                    <div class="card__content__middle">
                        <h2>Mission Statement</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At elementum eu facilisis sed. In massa tempor nec feugiat nisl pretium fusce. Sed euismod nisi porta lorem mollis aliquam ut porttitor leo...</p>
                    </div>

                    <div class="card__content__bottom">
                        <div class="card__content__button">
                            <p class="card__content__button__text">View Grants</p>
                        </div>
                        
                        <p class="card__content__bottom__right"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>