<div class="home">
    <div class="home__header">

    </div>
    <div class ="centered">
        <div class="cards">
            <div class="card">
                <div class="card__content">a</div>
            </div>
            <div class="card">
                <div class="card__content">b</div>
            </div>
            <div class="card">
                <div class="card__content">c</div>
            </div>
            <div class="card">
                <div class="card__content">d</div>
            </div>
        </div>
    </div>
</div>